.logo {
    position: absolute;
    top: 2%; /* Adjust top position as needed */
    left: 2%; /* Adjust left position as needed */
    width: 10%; /* Adjust width as needed */
}
.overlay {
    position: absolute;
    top: 30%; /* Adjust this value to change the vertical position of the box */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(217, 217, 217, 0.5); /* Adjust the alpha value for desired transparency */
    width: 55%; /* Adjust the width as needed */
    max-width: 55%; /* Set a maximum width if desired */
    padding: 5%; /* Adjust the padding as needed */
    font-family: 'Montserrat', sans-serif;
    border-radius: 1vw;

}
.overlay2 {
    position: absolute;
    left: 17%;
    background-color: rgba(217, 217, 217, 0.5); /* Adjust the alpha value for desired transparency */
    width: 24.5%; /* Adjust the width as needed */
    height: 20%;
    max-height: 20%;
    max-width: 24.5%; /* Set a maximum width if desired */
    border-radius: 15px;
    padding: 3%; /* Adjust the padding as needed */
    font-family: 'Montserrat', sans-serif;
}
.overlay4 {
    position: absolute;
    right: 17%;
    background-color: rgba(217, 217, 217, 0.5); /* Adjust the alpha value for desired transparency */
    width: 24.5%; /* Adjust the width as needed */
    font-size: 100%;
    height: 20%;
    max-height: 20%;
    max-width: 24.5%; /* Set a maximum width if desired */
    border-radius: 15px;
    padding: 3%; /* Adjust the padding as needed */
    font-family: 'Montserrat', sans-serif;
}


.overlay3 {
    position: absolute;
    left: 17%;
    background-color: rgba(217, 217, 217, 0.5); /* Adjust the alpha value for desired transparency */
    width: 24.5%; /* Adjust the width as needed */
    height: 20%;
    max-height: 20%;
    max-width: 24.5%; /* Set a maximum width if desired */
    padding: 3%; /* Adjust the padding as needed */
    border-radius: 15px; /* Adjust the radius value as needed */
    font-family: 'Montserrat', sans-serif;
}
.overlay5 {
    position: absolute;
    right: 17%;
    background-color: rgba(217, 217, 217, 0.5); /* Adjust the alpha value for desired transparency */
    width: 24.5%; /* Adjust the width as needed */
    height: 20%;
    max-height: 20%;
    max-width: 24.5%; /* Set a maximum width if desired */
    padding: 3%; /* Adjust the padding as needed */
    border-radius: 15px; /* Adjust the radius value as needed */
    font-family: 'Montserrat', sans-serif;
}
.sunny {
    position: absolute;
    bottom: 15%;
    left: 23%; /* Adjust left position as needed */
    transform: translateX(-50%);
    font-size:2.2vw;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.date{
    position: absolute;
    bottom: 10%;
    left: 90%; /* Adjust left position as needed */
    transform: translateX(-50%);
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.location{
    position: absolute;
    bottom: 13%;
    white-space: nowrap;
    left: 40%; /* Adjust left position as needed */
    transform: translateX(-50%);
    font-size: 1.7vw;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.Image{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden; /* Ensure image doesn't overflow the container */

}

.rain{
    width: 21%;
    height: auto;
    position: absolute;
    right: 40%;
    top:1%;
}
.snow{
    width: 16%;
    height: auto;
    position: absolute;
    right: 44%;
    top: 1%;
}
.wind{
    width: 18%;
    height: auto;
    position: absolute;
    left: 37%;
    top: 5%;

}
.sun{
    width: 11%;
    height: auto;
    position: absolute;
    left: 43%;
    top: 5%;
}
.header{
    font-size: 100%;
    position: absolute;
    max-font-size: 100%;
}


.Info{
    font-size: 1vw;
    max-font-size: 1vw;
    position: absolute;
    top: 30%;
    left: 0%;
}

@media screen and (max-width: 768px) {
    .logo {
        top: 2%;
        left: 2%;
        width: 20%;
    }

    .overlay {
        top: 20%;
        width: 90%;
        max-width: 90%;
        padding: 3%;
        border-radius: 5px;
        font-size: 3vw;
    }

    .overlay2, .overlay3, .overlay4, .overlay5 {
        width: 90%;
        max-width: 90%;
        padding: 2%;
        font-size: 3vw;
    }

    .sunny {
        font-size: 4vw;
    }

    .date {
        font-size: 3vw;
    }

    .location {
        font-size: 2.5vw;
    }

    .Image {
        height: auto;
    }

    .rain, .snow, .wind, .sun {
        width: 30%;
    }

    .header {
        font-size: 3vw;
    }

    .Info {
        font-size: 3vw;
    }
}
