/* HydrationPage.css */
.background1 {
    position: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the background image stays behind the content */
}

.hydration-container {
    position: relative; /* Ensure z-index works */
    padding: 20px;
    z-index: 1; /* Make sure content appears above the background image */
}
.hydration-container h1 {
    color: black; /* Set title font color to black */
}


body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;   
}

.hydration-container {
    padding: 20px;
}

.hydration-facts {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hydration-facts h2 {
    margin-top: 20px;
}

.hydration-facts p,
.hydration-facts li {
    line-height: 1.6;
}

.hydration-facts ul {
    margin-top: 10px;
}

.glasswater-img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.glasswater-img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .hydration-facts {
        padding: 10px;
    }
}

.logo {
    position: absolute;
    top: 200px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
}