.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; /* Ensure image doesn't overflow the container */
    transition: background-image 1s ease-in-out;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fit-logo {
    position: absolute;

    top: 2%; /* Adjust top position as needed */
    left: 2%; /* Adjust left position as needed */
    width: 10%; /* Adjust width as needed */
}

.search-overlay {
    position: absolute;
    top: 2%; /* Adjust top position as needed */
    left: 30%; /* Adjust left position as needed */
    width: 4%; /* Adjust width as needed */
    height: auto;
}
.transition-element {
    transition-property: opacity;
    transition-duration: 5s; /* Adjust the duration as needed */
    transition-timing-function:ease-in-out; /* Change this to any of the options mentioned above */
}


.background-image {
    position: fixed;
    width: 500%;
    height: 100%;
    object-fit: cover;
}
.searchLogo {
    position: absolute;
    left: 93%;
    top: 1%;
    width: 6%;
    height: auto;
}

.sunny {
    position: absolute;
    bottom: 40%;
    left: 20%; /* Adjust left position as needed */
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
}

.location {
    position: absolute;
    bottom: 25%; /* Adjust top position as needed */
    left: 13%; /* Adjust left position as needed */
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}

.temperature {
    position: absolute;
    bottom: -40%; /* Adjust top position as needed */
    left: 85%; /* Adjust left position as needed */
    transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
}


.overlay {
    position: absolute;
    top: 30%; /* Adjust this value to change the vertical position of the box */
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(217, 217, 217, 0.8); /* Adjust the alpha value for desired transparency */
    width: 60%; /* Adjust the width as needed */
    max-height: 50%;
    max-width: 60%;
    padding: 7%; /* Adjust the padding as needed */
    border-radius: 15px; /* Adjust the radius value as needed */
}
.overlay2 {
    position: absolute;
    top: 30%; /* Adjust this value to change the vertical position of the box */
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(217, 217, 217, 0.8); /* Adjust the alpha value for desired transparency */
    width: 70%; /* Adjust the width as needed */
    max-height: 70%;
    max-width: 70%;
    height: 20%;
    padding:2%;
    border-radius: 15px; /* Adjust the radius value as needed */
}

.overlay3 {
    position: absolute;
    top: 30%; /* Adjust this value to change the vertical position of the box */
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: rgba(217, 217, 217, 0.8); /* Adjust the alpha value for desired transparency */
    width: 70%; /* Adjust the width as needed */
    max-height: 70%;
    max-width: 70%;
    height: 20%;
    padding:2%;
    border-radius: 15px; /* Adjust the radius value as needed */
}

.greybox {
    position: absolute;
    width: 13%; /* Adjust width as needed */
    height: auto;
    right:35%; /* Adjust right position as needed */
    bottom: 20%; /* Adjust bottom position as needed */
}

.greybox2 {
    position: absolute;
    width: 13%; /* Adjust width as needed */
    height: auto;
    right: 55%; /* Adjust right position as needed */
    bottom: 20%; /* Adjust bottom position as needed */
}
.greyboxtshirt{
    position: absolute;
    top: 12%;
    left: 29.3%;
    width: 18%;
    height: auto;
}
.greybox3 {
    position: absolute;
    width: 12%; /* Adjust width as needed */
    height: auto;
    right: 75%; /* Adjust right position as needed */
    bottom: 20%; /* Adjust bottom position as needed */
}
.greyboxglass{
    position: absolute;
    width: 12%;
    height: auto;
    right: 15%;
    bottom: 20%;
}
.greybox4 {
    position: absolute;
    width: 13%; /* Adjust width as needed */
    height: auto;
    right: 15%; /* Adjust right position as needed */
    bottom: 20%;

}

.text-container {
    text-align: center;
}

h1 {
    font-size: 6vw; /* Adjust font size as needed */
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.location {
    font-size: 2vw; /* Adjust font size as needed */
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-bottom: 5px;
}

.temperature {
    font-size: 5vw; /* Adjust font size as needed */
    font-family: 'Montserrat', sans-serif;
    color: white;
}
    
.forecast-grid {
    border: 1px solid black;
    border-radius: 1em;
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of forecast boxes */
    overflow-x: auto; /* Enable horizontal scrolling */
}

.forecast-box {
    width: 120px; /* Adjust width as needed */
    padding: 10px;
    margin: 10px;
    border-radius: 5px; /* Add border radius */
    background-color: #f9f9f966; /* Add background color */
    text-align: center;
    font-family: 'Monsterrat', sans-serif;
}

.forecast-box .date {
    font-weight: bold;
}

.forecast-box .condition {
    font-style: italic;
}

.body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.facts-box {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 55%; /* Adjust vertical position as needed */
    left: 1%; /* Adjust horizontal position as needed */
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.74); /* Adjust the alpha value for desired transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
    height: 60%;
    max-width: 10%; /* Limit the maximum height of the box */
    overflow-y: auto; /* Add scrollbar when content exceeds maximum height */
}

.facts-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.facts-box ul {
    list-style-type: none;
    padding: 0;
}

.facts-box li {
    margin-bottom: 10px;
    font-size: 1em;
}
@media screen and (max-width: 768px) {
    .logo {
        top: 2%;
        left: 2%;
        width: 20%;
    }

    .overlay {
        top: 20%;
        width: 90%;
        max-width: 90%;
        padding: 3%;
        border-radius: 5px;
        font-size: 3vw;
    }

    .overlay2, .overlay3, .overlay4, .overlay5 {
        width: 90%;
        max-width: 90%;
        padding: 2%;
        font-size: 3vw;
    }

    .sunny {
        font-size: 4vw;
    }

    .date {
        font-size: 3vw;
    }

    .location {
        font-size: 2.5vw;
    }

    .Image {
        height: auto;
    }

    .rain, .snow, .wind, .sun {
        width: 30%;
    }

    .header {
        font-size: 3vw;
    }

    .Info {
        font-size: 3vw;
    }
    /* Facts Box styles */

    .overlay2 {
        position: absolute;
        top: 10%; /* Adjust this value to change the vertical position of the box */
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(217, 217, 217, 0.8); /* Adjust the alpha value for desired transparency */
        width: 90%; /* Adjust the width as needed */
        max-height: 70%;
        max-width: 90%;
        height: auto;
        padding: 2%;
        border-radius: 15px; /* Adjust the radius value as needed */
    }
    
    .forecast-grid {
        display: flex;
        flex-wrap: nowrap; /* Prevent wrapping of forecast boxes */
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    
    .forecast-box {
        width: 120px; /* Adjust width as needed */
        padding: 10px;
        margin: 10px;
        border: 1px solid #ccc; /* Add border styling */
        border-radius: 5px; /* Add border radius */
        background-color: #f9f9f9; /* Add background color */
        text-align: center;
    }
    
    .date, .showTemp, .condition {
        font-size: 50%; /* Adjust font size for all elements */
        line-height: 1; /* Adjust line height */
    }
    
}
